body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 400px;
    height: 600px;
    background-image: url('725e5dc00ba49c240cd489e7b87e0496.jpg'); /* Add your background image here */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center;
    border: 2px solid #000;
    overflow: hidden;
}

#bird {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    top: 200px;
    left: 50px;
}

.pipe {
    position: absolute;
    width: 60px;
    background-color: green;
}

.pipe.top {
    top: 0;
}

.pipe.bottom {
    bottom: 0;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-button:hover {
    background-color: #45a049;
}

#game-over-message {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: red;
    font-weight: bold;
}
